<ul class="flex flex-col items-center gap-2">
  {% for row in translations %}
    <li class="flex flex-col items-center gap-2">
      <div class="flex flex-row items-center justify-center gap-2">
        <h2 class="text-lg font-semibold">{{ row.key }}</h2>
        <button
          type="button"
          class="h-6 w-6 scale-75 text-red-600 transition-colors hover:text-red-800"
          hx-delete="/api/translations"
          hx-vals='{"key": "{{ row.key }}"}'
          hx-confirm="Are you sure you want to delete this translation?"
          hx-target="closest li"
          hx-swap="delete"
        >
          {% include "./icons/delete.html" %}
        </button>
      </div>
      <div class="flex flex-row items-center gap-4">
        <input
          type="text"
          name="value"
          value="{{ row.en }}"
          hx-put="/api/translations"
          hx-vals='{
            "key": "{{ row.key }}",
            "language": "en"
          }'
          hx-trigger="keyup changed delay:100ms, blur"
          hx-swap="none"
          class="w-96 rounded-md border-2 border-red-500 px-2 py-1 text-slate-700 focus:border-transparent focus:outline-none focus:ring-2 focus:ring-red-700"
        />
        <input
          type="text"
          name="value"
          value="{{ row.sv }}"
          hx-put="/api/translations"
          hx-vals='{
            "key": "{{ row.key }}",
            "language": "sv"
          }'
          hx-trigger="keyup changed delay:100ms, blur"
          hx-swap="none"
          class="w-96 rounded-md border-2 border-blue-500 px-2 py-1 text-slate-700 focus:border-transparent focus:outline-none focus:ring-2 focus:ring-blue-700"
        />
      </div>
    </li>
  {% endfor %}
</ul>
