<div class="flex flex-row justify-around gap-8">
  <div class="flex flex-col gap-2">
    {% for translation in en %}
      <form class="flex flex-row items-center gap-4">
        <p class="text-lg font-semibold">{{ translation.0 }}:</p>
        <input
          id="en-{{ loop.index }}"
          name="value"
          type="text"
          value="{{ translation.1 }}"
          class="rounded-md border border-slate-400 p-2 text-slate-700 focus:border-transparent focus:outline-none focus:ring-2 focus:ring-slate-400"
          hx-put="/api/translations"
          hx-trigger="keyup changed delay:100ms"
          hx-swap="none"
        />
        <input type="hidden" name="key" value="{{ translation.0 }}" />
        <input type="hidden" name="language" value="en" />
      </form>
    {% endfor %}
  </div>

  <div class="flex flex-col gap-2">
    {% for translation in sv %}
      <form class="flex flex-row items-center gap-4">
        <p class="text-lg font-semibold">{{ translation.0 }}:</p>
        <input
          id="en-{{ loop.index }}"
          name="value"
          type="text"
          value="{{ translation.1 }}"
          class="rounded-md border border-slate-400 p-2 text-slate-700 focus:border-transparent focus:outline-none focus:ring-2 focus:ring-slate-400"
          hx-put="/api/translations"
          hx-trigger="keyup changed delay:100ms"
          hx-swap="none"
        />
        <input type="hidden" name="key" value="{{ translation.0 }}" />
        <input type="hidden" name="language" value="sv" />
      </form>
    {% endfor %}
  </div>
</div>
